APP_PORT=3333

POSTGRES_USER=plataforma-ingressos
POSTGRES_PASSWORD=plataforma-ingressos
POSTGRES_DB=plataforma-ingressos
DB_PORT=4444
DATABASE_URL="postgresql://plataforma-ingressos:plataforma-ingressos@localhost:4444/plataforma-ingressos?schema=public"

JWT_SECRET="random_secret_key_12345"
TMDB_API_KEY="your_tmdb_api_key_here"

ALLOW_ORIGIN="http://localhost:3000"

TMDB_BASE_URL=https://api.themoviedb.org/3