# Ignore node_modules directory
/node_modules

# Ignore environment variable files
.env
.env.prod

# Ignore coverage reports
/coverage

# Ignore generated Prisma client files
/src/generated/prisma
/generated/prisma
/.agents
/.claude
/.windsurf